<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DALightmapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DALightmapper.Properties.Settings>
            <setting name="filePaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>E:\Program Files (x86)\Steam\steamapps\common\dragon age origins\packages\core\override</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="erfFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>E:\Program Files (x86)\Steam\steamapps\common\dragon age origins\packages\core\data\modelmeshdata.erf</string>
                        <string>E:\Program Files (x86)\Steam\steamapps\common\dragon age origins\packages\core\data\modelhierarchies.erf</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="numBounces" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="minEnergy" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="trueAttenuation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="verbosity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="clearTempFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="workingDirectory" serializeAs="String">
                <value>C:\Users\Ben\Documents\BioWare\Dragon Age\temp</value>
            </setting>
            <setting name="tempDirectory" serializeAs="String">
                <value>C:\Users\Ben\Documents\BioWare\Dragon Age\temp</value>
            </setting>
        </DALightmapper.Properties.Settings>
    </userSettings>
</configuration>